
.aboutImage {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}



.aboutdiv{
  background-size: cover;
  font-family:New Century, serif;

  .section-header{
    .section-title{
      margin-top: 10%;
      color: #e45d2b;
      font-size: 2.3rem;
    };
    .section-subtitle{
      color: #2d5981;
      h6{
        font-size: 1.2rem;
      }
    }

  };
  .section-content{
    .about-title{
      color: #f15a25;
    };
    .about-description {

      color: #2d5981;
      p{
        font-size: 1.2rem;

      }
.btn-primary{
  background-color: #6386c9;
}
    }
  }
}
