@keyframes scrolled {
  0% {
    top: -70px;
  }
  100% {
    top: 0;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  @media (min-width: 768px) {
    position: absolute;
  }
  .navbar-brand {
    font-family: "Raleway,sans-serif";
    font-weight: bold;
    letter-spacing: 2px;
    @media (min-width: 768px) {
      font-size: 1.8rem;
    }
    h2 {
      color: rgb(5, 5, 5);
      margin: 0;
      padding: 0;
    }
    h3 {
      color: #6fc9c5;
      span {
        color: #d2497f;
      }
    }
  }
  .navbar {
    background-color: #fdffff;
    &.scrolled {
      @media (min-width: 768px) {
        position: fixed;
        left: 0;
        right: 0;
        animation: scrolled 0.3s ease forwards;
      }
    }
  }
  .nav-link {
    font-family: 'Lavenda';
    text-transform: uppercase;
    font-weight: 700;
    color: #4980ca !important;
    font-size: 0.85rem;
    &:hover {
      color: darken(#e74029, 10%) !important;
    }
   
    &:active{
      color: darken(#b37979, 10%) !important;
        }
    @media (min-width: 768px) {
      padding: 1rem 1rem;
    }
  }
  .top-bar {
    background-color: #0f0b3a;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    i {
      color:#e4d9d5;
    }
    small {
      color: rgb(240, 228, 228);
      font-size: 1rem;
      font-family: "Raleway,sans-serif";

    }
  }

  .nav-icon {
    width: 30px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #4e4e4e;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 9px;
      }
      &:nth-child(3) {
        top: 18px;
      }
    }
    &.open {
      span {
        &:nth-child(1) {
          top: 9px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
          left: -60px;
        }
        &:nth-child(3) {
          top: 9px;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
      }
    }
  }
}
