#home {
  height: calc(100vh - 100px);
  position: relative;
  margin-top: 100px;
  font-family: "Raleway,sans-serif";
  @media (min-width: 1000px) {
    margin-top: 115px;
  }

  .slideshow {
    margin: auto;
    overflow: hidden;
    background-position: center;
    opacity: 1.2;
    .slideshowSlider {
      white-space: nowrap;
      transition: ease 1000ms;
      .intro {
        top: 50%;
        color: white;
        transform: translateY(-50%);
        position: relative;
        z-index: 2;
        .welcome {
          font-weight: bold;
          @media (min-width: 768px) {
            font-size: 1.9rem;
          }
        }
        .btn-default{
          background-color: #e45d2b;
        }

        .title {
          font-weight: bold;
          @media (min-width: 768px) {
            font-size: 3rem;
          }
        }
        .sub-title {
          white-space: normal;
          text-align: center;
          @media (min-width: 768px) {
            font-size: 1.2rem;
          }
        }
      }
    }

    .slide {
      background-size: cover;
      display: inline-block;
      height: 550px;
      width: 100%;
    }

    /* Buttons */

    .slideshowDots {

      text-align: center;
      -webkit-margin-before: 0px;
    }

    .slideshowDot {

      display: inline-block;
      height: 20px;
      width: 20px;
      border-radius: 50%;

      cursor: pointer;
      margin: 15px 7px 0px;

      background-color: #c4c4c4;
    }

    .slideshowDot.active {
      background-color: #b41d1d;
    }
  }
}
