#services {
  background-color: #fbf6fa;
}
.service-box {
  padding: 2rem;
  border: 1px solid #eef1f5;
  margin-bottom: 1rem;
  background: white;
  .service-icon {
    font-size: 2rem;
    color: #248eff;
  }
}

.service-description {
  font-size: 1rem;
  color: #293031;
  margin-bottom: 1rem;
  font: optional;
}

.service-body {
  .service-title {
    font-size: 2rem;
    color: #f15a25;
    font-family: "Raleway,sans-serif";
  }
}
.service-content {
  background-size: cover;
}
.page-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  perspective: 1000px;
  .card-container {
      height: 350px;
      margin: 0;
      padding: 0;
      top: 20px;
      width: 330px;
      margin-left: 35%;
    margin-right: 35%;
      position: relative;
      transform-style: preserve-3d;
      box-sizing: border-box;
      &.flipped {
          .front {
              transform: rotateY(180deg);
          }
          .back {
              transform: rotateY(0deg);
          }
      }
      .front,
      .back {
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          display: block;
          background: white;
          box-shadow: 10px 10px 5px rgb(95, 77, 99);
          padding: 10px;
          position: absolute;
          border-radius: 10px;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          transition: -webkit-transform ease 500ms;
          transition: transform ease 500ms;
      }
      .front {
          z-index: 2;
          transform: rotateY(0deg);
          /* front tile styles go here! */
      }
      .back {
          background: white;
          transform: rotateY(-180deg);
          padding: 20px;
          font-size: 20px;
          /* back tile styles go here! */
      }
      .image-container {
          position: relative;
          .card-image {
              width: 100%;
              border-radius: 10px;
          }
          .title {
              font-size: 34px;
              position: absolute;
              margin-bottom:auto;
              margin-left: auto;
              bottom: 0;
              left: 0;
              color: white;
          }
      }
      .main-area {
          margin-left: auto;
          margin-top: auto;
          margin-right: auto;
          
          .blog-post {
              height: 100%;
              
              .date {
              margin-top: auto;
              margin-bottom: 5px;
              font-size: 20px;
          }
          .read-more {
              font-size: 20px;
              position: relative;
              bottom: 0px;
              text-align: right;
          }
              .blog-content {
                  height: 90%;
                  display: block;
                  margin-top: auto;
                  margin-bottom: auto;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
              }
          }
      }
  }
}
